<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>DailyLifeBoard</title>
    <link rel="stylesheet" , href="/CSS/index.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"/>
    <link rel="stylesheet" href="/CSS/board.css">

    <script src="/JS/jquery-3.4.1.min.js"></script>

    <!--Load HTML Files-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#header").load("header");
            $("#leftSidebar").load("leftSidebar");
        });
    </script>
</head>

<body>
<div id="header"></div>
<div class="contents">
    <div id="leftSidebar"></div>
    <div class="main-contents-container">
        <div class="main-contents">
            <!-- ------------------Content-------------------------------- -->
            <div th:if="${#strings.isEmpty(subCategory)}">
                <h1 th:text="일상"></h1>
            </div>
            <div th:if="${not #strings.isEmpty(subCategory)}">
                <h1 th:text="'일상 >> ' + ${subCategory}"></h1>
            </div>
            <div id="wrap">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/DailyLife/DailyLifeCreate}">글쓰기</a>

                <form action="/DailyLife/DailyLifeSearch" method="GET">
                    <div class="search">
                        <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
                        <input name="subCategory" type="hidden" th:value="${subCategory}">
                    </div>

                    <button>검색하기</button>
                </form>

                <table>
                    <thead>
                    <tr>
                        <th class="one wide">번호</th>
                        <th class="ten wide">글제목</th>
                        <th class="two wide">작성자</th>
                        <th class="three wide">작성일</th>
                        <th class="three wide">카테고리</th>
                    </tr>
                    </thead>

                    <tbody>
                    <!-- CONTENTS !-->
                    <tr th:each="dailyLifeContent : ${dailyLifeContentDtoList}">
                        <td>
                            <span th:text="${dailyLifeContent.id}"></span>
                        </td>
                        <td>
                            <a th:href="@{'/DailyLife/DailyLifeShow/' + ${dailyLifeContent.id}}">
                                <span th:text="${dailyLifeContent.title}"></span>
                            </a>
                        </td>
                        <td>
                            <span th:text="${dailyLifeContent.writer}"></span>
                        </td>
                        <td>
                            <span th:text="${#temporals.format(dailyLifeContent.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </td>
                        <td>
                            <span th:text="${dailyLifeContent.subCategory}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div>
    <span th:each="pageNum : ${pageList}" th:inline="text">
        <a th:href="@{'/DailyLife/DailyLifeBoard?Page=' + ${pageNum} + '&subCategory=' + ${subCategory}}">[[${pageNum}]]</a>
    </span>
                </div>
            </div>


        </div>
    </div>
</div>
</body>
</html>
