<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="/CSS/leftsidebar.css">
</head>

<body>
    <div class="leftside">
        <ul class="sidebar-menu">
            <div th:each="category:${categoryList}">
                <hr>
                <div th:if="${category.category1.toString().equals('dailyLife')}">
                    <li class = "sidevar-menu-li"><a href="/DailyLife/DailyLifeBoard"><span>일상</span></a></li>
                    <div th:each="subCategory:${category.category2List}">
                        <li class = "sidevar-menu-li">
                            <a th:href="@{/DailyLife/DailyLifeBoard(subCategory=${subCategory})}">
                                <i class="fas fa-arrow-right"></i><span th:text="${subCategory}"></span>
                            </a>
                        </li>
                    </div>
                </div>
                <div th:if="${category.category1.toString().equals('study')}">
                    <li class = "sidevar-menu-li"><a href="/Study/StudyBoard"><span>공부</span></a></li>
                    <div th:each="subCategory:${category.category2List}">
                        <li class = "sidevar-menu-li">
                            <a th:href="@{/Study/StudyBoard(subCategory=${subCategory})}">
                                <i class="fas fa-arrow-right"></i><span th:text="${subCategory}"></span>
                            </a>
                        </li>
                    </div>
                </div>
                <div th:if="${category.category1.toString().equals('carrer')}">
                    <li class = "sidevar-menu-li"><a href="/Carrer/CarrerBoard"><span>커리어</span></a></li>
                    <div th:each="subCategory:${category.category2List}">
                        <li class = "sidevar-menu-li">
                            <a th:href="@{/Carrer/CarrerBoard(subCategory=${subCategory})}">
                                <i class="fas fa-arrow-right"></i><span th:text="${subCategory}"></span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</body>
</html>