<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="/CSS/leftsidebar.css">
</head>

<body>
    <div class="leftside">
        <ul class="sidebar-menu">
            <li class = "sidevar-menu-li"><a href="/"><i class="fas fa-home"></i><span>홈</span></a></li>
            <li class = "sidevar-menu-li"><a href="/DailyLife/DailyLifeBoard"><i class="far fa-calendar-minus"></i><span>일상</span></a></li>
            <li class = "sidevar-menu-li"><a href="/Study/StudyBoard"><i class="far fa-chart-bar"></i><span>공부</span></a></li>
            <li class = "sidevar-menu-li"><a href="/Carrer/CarrerBoard"><i class="far fa-chart-bar"></i><span>커리어</span></a></li>
        </ul>
    </div>
</body>
</html>